@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: url('./assets/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #FF7A00, #FF511C, #FF1C4A);
    opacity: 0.4;
    z-index: -1;
    backdrop-filter: blur(5px);
}
  
  .welcome {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    background: white;
    padding: 2rem;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  h1 {
    font-weight: 1200;
  }

  input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
  }
  
  input[type="submit"], button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  input[type="submit"]:hover, button:hover {
    background-color: #45a049;
  }
  
  .FileUploadComponent {
    margin-bottom: 20px;
  }

  .spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.6s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  